body
{
	background: url(../imagen/huesitos.jpg);
	padding-left: 10%;
	padding-right: 120px;
}

header section{
	vertical-align: top;
	display: inline-block;
	width: 49%;
	
}
header section p{
	font-family: arial;
	color: #E6E1DB;
}
header section p span{
color: #000000;
}

.area-menu{
background: #F7F4F0;
}

.area-menu li {

 font-family: Arial;
 font-size: 19px;
 display: inline-block;
 text-decoration: none;
 padding: 30px;
 background-color: #F7F4F0;
 color: #140C02;
 }

 
.area-menu li:hover {
	background: #e5322d;
}
.area-menu .area-menu-store .area-submenu {display: none;}
.area-menu .area-menu-store:hover .area-submenu {
	display: block;
	position: absolute;

}
.area-submenu{padding: 30px;}
.area-submenu  li {display: block;}

.parent{
	background: #e9f2f1
}
.parent .child-one{
	width: 60%;
	display: inline-block;
	padding-top: 19	0px;
}
.parent .child-one figure img{
	width: 80%;
				
}
.parent .child-two{
	width: 35%;
	vertical-align: top;
	display:inline-block;
	font-size: 14.5px;
	font-family: arial black ;
}
.area-menu  a{
	background: #e5322d;
	color:#ffff;
	padding: 10px;
	border-radius: 4px;
	font-family: arial;
	text-decoration: none;
	font-weight: bold;
	text-transform: uppercase;
}

.parent1{
	background: #e9f2f1
}
.parent1 .child-one{
	font-family: arial;
	margin-left: 10px;
	border: 7px solid #fff;
 	border-radius: 2px;
 	padding: 5px;
	width: 25%;
	display: inline-block;
	text-align: justify ;

}
.parent1 .child-one figure img{
	width: 50%			
}
.parent1 .child-two{
	font-family: arial;
	margin-left: 10px;
	border: 7px solid #fff;
 	border-radius: 2px;
 	padding: 5px;
	width: 25%;
	display: inline-block;
	text-align: justify ;
}
.parent1 .child-two figure img{
	width: 50%			
}

.parent1 .child-three{
	font-family: arial;
	margin-left: 10px;
	border: 7px solid #fff;
 	border-radius: 2px;
 	padding: 5px;
	width: 25%;
	display: inline-block;
	text-align: justify ;
	font size: 100px;	
}
.parent1 .child-three figure img{
	width: 70%			
}
.parent1 .child-four{
	font-family: arial;
	margin-left: 10px;
	border: 7px solid #fff;
 	border-radius: 2px;
 	padding: 5px;
	width: 25%;
	display: inline-block;
	text-align: justify ;
}
.parent1 .child-four figure img{
	width: 50%			
}

.parent1 .child-five{
	font-family: arial;
	margin-left: 10px;
	border: 7px solid #fff;
 	border-radius: 2px;
 	padding: 5px;
	width: 25%;
	display: inline-block;
	text-align: justify ;
}
.parent1 .child-five figure img{
	width: 50%			
}

.parent1 .child-six{
	font-family: arial;
	margin-left: 10px;
	border: 7px solid #fff;
 	border-radius: 2px;
 	padding: 5px;
	width: 25%;
	display: inline-block;
	text-align: justify ;
}
.parent1 .child-six figure img{
	width:45%			
}
.parent1 img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.video {
	text-align: center;
}
.circle {
	background: #e9f2f1;
	font-family: arial;
	display:block;
	width: 58%;
}
.servicios {
	background: #e5322d;
	padding: 10px;
	font-family: arial;
	font-weight: bold;
	margin-left: 10px;
	border: 5px solid #fff;
	display: block;
	text-align: justify ;
}
.servicios h3{
	margin-top: 5%; 

}
.servicios hr{
  border-top: 3px dotted red;
}
.servicios img{
	width: 8%;
	float:left;
  	margin:	1%; 
  	padding: 2%;
  	border:	1px solid gray;
}
.servicios{
	background: #e9f2f1
}

.galeria .child-one{
	width: 39%;
	display: inline-block;
}
.galeria .child-two{
	font-size: 20px;
	width: 60%;
	vertical-align: top;
	display:inline-block;
}

.galeria .child-three{
	width: 39%;
	display: inline-block;
}


.galeria .child-four{
	width: 39%;
	display: inline-block;
}


.galeria .child-five{
	width: 39%;
	display: inline-block;
	text-align: center;
}

.galeria {
	background: #e9f2f1
}

.galeria figure img{

  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 32px 16px;
  max-width: 70%;
  width: 80%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.galeria figure img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.area-productos {
	text-align: center;
	display: inline-block;
}
.area-productos {
	background: #e9f2f1;

}


.area-productos  figure img{
	width: 50%			
}


.area-productos .child-one{
	font-family: arial;
	margin-left: 10px;
	border: 7px solid #fff;
 	border-radius: 2px;
 	padding: 5px;
	width: 25%;
	display: inline-block;
	text-align: justify ;

}

.area-productos .child-two{
	font-family: arial;
	margin-left: 10px;
	border: 7px solid #fff;
 	border-radius: 2px;
 	padding: 5px;
	width: 25%;
	display: inline-block;
	text-align: justify ;

}
.area-productos .child-two img{
	width: 50%			
}

.area-productos .child-three{
	font-family: arial;
	margin-left: 10px;
	border: 7px solid #fff;
 	border-radius: 2px;
 	padding: 5px;
	width: 25%;
	display: inline-block;
	text-align: justify ;

}
.area-productos .child-three img{
	width: 50%			
}

.area-productos .child-four{
	font-family: arial;
	margin-left: 10px;
	border: 7px solid #fff;
 	border-radius: 2px;
 	padding: 5px;
	width: 25%;
	display: inline-block;
	text-align: justify ;

}
.area-productos .child-four img{
	width: 50%			
}
.area-productos .child-five{
	font-family: arial;
	margin-left: 10px;
	border: 7px solid #fff;
 	border-radius: 2px;
 	padding: 5px;
	width: 25%;
	display: inline-block;
	text-align: justify ;

}
.area-productos .child-five img{
	width: 50%			
}

.area-productos .child-six{
	font-family: arial;
	margin-left: 10px;
	border: 7px solid #fff;
 	border-radius: 2px;
 	padding: 5px;
	width: 25%;
	display: inline-block;
	text-align: justify ;

}
.area-productos .child-six img{
	width: 50%			
}

.boton_personalizado{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 6px;
    border: 2px solid #1098F6;
  }
  .boton_personalizado:hover{
    color: #1883ba;
    background-color: #ffffff;
  }

  .parent .child-two h4{
	background: rgba(229, 50, 45, 0.7);
	color:#272320;
		
}
button {
border: none;
background: #3a7999;
color: #f2f2f2;
padding: 10px;
font-size: 18px;
border-radius: 5px;
position: relative;
box-sizing: border-box;
transition: all 500ms ease;
}

 button:hover {
background: rgba(0,0,0,0);
color: #3a7999;
box-shadow: inset 0 0 0 3px #3a7999;
}

.form1 {
  background: #f7f7f7

}

.form1 {
  margin-left: 30px;
  border: 7px solid #fff;
  border-radius: 2px;
  padding: 70px;
  width: 80%;
  display: inline-block;
  text-align: center;
 
}
.form2 {
  font-family: arial;
  font-size: 20px;
  margin-left: 10px;
  border: 7px solid #f7f7f7;
  border-radius: 2px;
 text-align: left ;
 
}

.form1 .imagen img{
  width: 40%;
  height : 610px;
  padding: 10px;
  float: left;
  display: block;
  
}

.form1 .form2{
  background-color: #f7f7f7;
  border-radius: 5px;
  color: #999;
  font-size: 20px;
  padding: 5px;
  float: left;
  width: 300px;
}

.boton {
  color: #ffff;
  background: #39c;
  border-radius: 10px;
  border: 10px solid #39c;
  padding: 10px;
  width: 300px;
  font-size: 100%;
 }
 .form2 p{
  padding: 1px;
  
 }
 .form2 .text{
  width: 280px;
  padding: 10px;
 }

.check .container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.form1 .form2 img{
  height : 20px;
  float: left;

  
}
/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.form-conta form
{

			background-color: white;
			border-radius: 10px;
			color: #f0f;
			font-size: 20px;
			padding: 20px;
			margin: 0 auto;
			width: 300px;
			display: inline-block;
			text-align: left;
		}

		input, textarea{
			border: 0;
			outline: none;

			width: 280px;
		}

		.field{
			border: solid 1px #ccc;
			padding: 10px;

			
		}

		.field:focus{
			border-color: #18A383;
		}

		.center-content{
			text-align: center;
		}

.ca{
	font-family: cooper black ;
	font-size: 35px;
}


.contacto {
	background: #e9f2f1
}
.contacto {
	font-family: arial;
	margin-left: 50px;
	border: 7px solid #fff;
 	border-radius: 2px;
 	padding: 10px;
	width: 58%;
	
	text-align: justify ;
	float: right;  
}

.form-conta{


}
.contacto{
	
}